*{
    margin:0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-image: url();
}
.container {
    background-image: url("images/Photo (File responses)/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yNDYta2F0aWUtMDctbC5qcGc.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.wow{
    letter-spacing: 3px;
}
.yeah{
    margin-top: 20px;
    height: 250px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    background: url("images/89883.jpg") no-repeat center/cover;
}
.yeah >div:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}
.yeah2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.yeah2 > div {
    text-align: center;
    width: 20%; 
    margin-bottom: 20px; 
    transition: transform 0.3s; 
}

.yeah2 > div:hover {
    transform: scale(1.05); 
}

.yeah2 img {
    width: 100%; 
}

.yeah2 h3 {
    margin-top: 10px; 
}
.team{
    letter-spacing: 3px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

}
.tt1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.tt1>div {
    text-align: center;
    width: 20%; 
    margin-bottom: 20px; 
    transition: transform 0.3s; 
}
.tt1> div:hover {
    transform: scale(1.05); 
}
.tt2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.tt2>div {
    text-align: center;
    width: 20%; 
    margin-bottom: 20px; 
    transition: transform 0.3s; 
}
.tt2> div:hover {
    transform: scale(1.05); 
}
.objective{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding:20px;
    background: url("images/pexels-jan-van-der-wolf-16091627.jpg") no-repeat center/cover;
}
.content{
    display: flex;
    justify-content: center;
    flex-flow: column;
    height: 350px;
    width: auto;
    background: url("images/Photo (File responses)/pexels-henry-&-co-1939485.jpg") no-repeat center/cover;
    border-radius: 8px;
    align-items: center;
    margin-left: -150px;
    padding: 30px;
}
.content h1{
    margin:10px;
}
.content li{
    list-style: none;
    margin: 12px;
}
.inner-invo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}
.hold-my-beer{
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 20px;
    padding: 20px;
    vertical-align: middle;
    background-color: #ddd;
    border-radius: 8px;
    width: 90%;
    align-items: center;
    text-align: center;
}
.hold-my-beer h2{
    margin: 15px;
}
.hold-my-beer ul li{
    list-style: none;
    margin: 10px;
}
.hold-my-beer ul li:before {
    content: '✓ ';
}
.btn{
    height:40px;
    width: 200px;
    font-family: 'Montserrat',sans-serif;
    color: #fff;
    font-weight: 900;
    letter-spacing: 4px;
    background-color: rgb(0, 151, 178);
    transition: ease-out 0.3s;
    outline: none;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
    vertical-align: middle;
    
}
.btn:hover{
    background-color: rgb(16, 163, 127);
    cursor: pointer;
    color: #000;
}

.footer {
    background-color: rgb(49, 45, 42);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.join-us {
    width: 45%;
    display: flex;
    justify-content: center;
    background-color: rgb(168,165,163);
    flex-flow: column;
    align-items: center;
    margin: 30px;
    padding: 30px;
    border-radius: 8px;
}

.join-us a {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
}

.social-media i {
    font-size: 24px;
    margin-right: 10px;
}

.scan{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.scan h3{
    margin: 25px;
}

.scan img{
    height: 250px;
    width: auto;
}
.social{
    margin-top: 30px;
    padding: 10px;
    display: inline-block;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {

    color: white;
}

.fa-twitter {

    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {

    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
    background: #00aff0;
    color: white;
}

.fa-android {
    background: #a4c639;
    color: white;
}

.fa-dribbble {
    background: #ea4c89;
    color: white;
}

.fa-vimeo {
    background: #45bbff;
    color: white;
}

.fa-tumblr {
    background: #2c4762;
    color: white;
}

.fa-vine {
    background: #00b489;
    color: white;
}

.fa-foursquare {
    background: #45bbff;
    color: white;
}

.fa-stumbleupon {
    background: #eb4924;
    color: white;
}

.fa-flickr {
    background: #f40083;
    color: white;
}

.fa-yahoo {
    background: #430297;
    color: white;
}

.fa-soundcloud {
    background: #ff5500;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.fa-rss {
    background: #ff6600;
    color: white;
}
  